{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },

  "plugins": [
    "mocha"
  ],

  "extends": "airbnb-base",

  "rules": {
    "indent": [ "error", 4 ],
    "no-underscore-dangle": [ "error", { "allowAfterThis": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-unused-vars": ["warn", {"vars": "local", "args": "none"}],
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 4,
      "ignoreUrls": false,
      "ignoreTrailingComments": true,
      "ignoreComments": true
    }],
    "mocha/no-exclusive-tests": "error"
  },

  "globals": {
    "fit": false,
    "jasmine": false,
    "xit": false,
    "jest": false
  }
}